In [16]:
import pandas as pd
import numpy as np

In [2]:
#Series
asignaturas = ['Matematicas','Historia','Economia','Programacion','Ingles']

In [4]:
serie1 = pd.Series(asignaturas)
serie1

0     Matematicas
1        Historia
2        Economia
3    Programacion
4          Ingles
dtype: object

In [6]:
diccionario= {'Matematica' : 6.0, 'Programacion': 8.5, 'Economia': 4.5}
serie2 = pd.Series(diccionario)
serie2

Matematica      6.0
Programacion    8.5
Economia        4.5
dtype: float64

Atributos de una serie

In [7]:
series3 = pd.Series([1,2,2,3,3,4,4,5,5])
series3

0    1
1    2
2    2
3    3
4    3
5    4
6    4
7    5
8    5
dtype: int64

In [8]:
series3.size

9

In [9]:
len(series3)

9

In [10]:
series3.index

RangeIndex(start=0, stop=9, step=1)

In [11]:
series3.dtype

dtype('int64')

In [12]:
serie2

Matematica      6.0
Programacion    8.5
Economia        4.5
dtype: float64

In [13]:
serie2[0]

6.0

In [14]:
serie2['Programacion']

8.5

In [15]:
serie2.index[2]

'Economia'

In [17]:
array = np.arange(5,30,5)
array

array([ 5, 10, 15, 20, 25])

In [19]:
serie4 = pd.Series(array)
serie4

0     5
1    10
2    15
3    20
4    25
dtype: int32

In [21]:
serie4.sum()

75

In [23]:
serie4.cumsum()

0     5
1    15
2    30
3    50
4    75
dtype: int32

In [24]:
serie4.value_counts()

5     1
10    1
15    1
20    1
25    1
Name: count, dtype: int64

Dataframes

In [32]:
emisiones = pd.read_csv("C:\Users\Marce\Desktop\Homeworks-H\M1-Clase3\Emisiones_CO2.csv", encoding='ansi', sep='|')
emisiones

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (31824116.py, line 3)